/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p.spaced {
  line-height: 2rem;
}

blockquote{
  border-color: #ffb74d;
}

blockquote.historia{
  border-color: #3f51b5;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.quotes p{
  line-height: 1.5rem;
}


.btn-small {
    padding: 0 0.6rem;
    font-size: 0.9rem;
}

hr.traced {
    border: 0;
    background-color: transparent;
    border-bottom: 1px dashed #ddd;
    height: 0;
    margin: 2rem 0;
}



@media only screen and (max-width: 600px) {
  .espaco{
    margin-bottom: 1rem;
  }
}

.ponteiro{
  cursor: pointer !important;
}

h5.menor{
  font-size: 1.42rem;
}

h4.menor{
  font-size: 2.00rem;
}